@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  
  --color-secondary: #ffffff;
  --color-accent: #ff5757; /* Changed from #f5a623 to match the button color */
  --color-accent-dark: #e64d4d; /* Darker version of the new accent color */
  --color-neutral: #424242;
  --color-neutral-dark: #212121;
  --color-neutral-light: #bdbdbd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

                    --color-primary: #0070f3;
    --color-secondary: #0a0a0a;
    --color-accent: #ff5757;
    --color-accent-dark: #e64d4d;
    --color-neutral: #888888; /* Darker neutral for dark mode */
    --color-neutral-dark: #666666; /* Even darker neutral for dark mode */
    --color-neutral-light: #cccccc; /* Lighter neutral for dark mode */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
